#page
{
    width: 1200px;
    margin: 0 auto;
    min-width: 768px;
}
#content
{
    background-color: khaki;
    padding: 10p;
}
#left-sidebar
{
    width: 20%;
    float: left;
    margin-right: 3%;
}
#main
{
    width: 50%;
    float: left;
}
#right-sidebar
{
    width: 150px;
    float: right;
}
.clear
{
    clear: both;
}